# Work folders
work/
output/


# Simulation files
*.opt
*.wlf
*.bak
*.nfs*
*.log
*.trace
*.dbg
*.qpf
*.cdb
*.hdb
*.qsf
*.sdc
*.db_info
*.qmsg
*.hif
*.hiel_info
*.ddb
*.ammdb
*.bpm
*.kpt
*.rdb
modelsim.ini

# Temporary simulation files
wlft*

# Generated transcript file
transcript
